<!doctype html>
<html lang="en" class="no-js" ng-app="xia">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/font.css"> <!-- http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700 -->
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
  <link rel="stylesheet" href="css/timeline_image.css"> <!-- Resource style -->
	<link rel="stylesheet" href="lightbox/css/lightbox.min.css">
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  <script src="js/jquery-1.11.0.min.js"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<title>Xia</title>
</head>
<body ng-controller="xiaCtrl">
	<header>
		<div id="import-button">Move my photos in...</div>
		<input id="folderSelector" type="file" nwdirectory/>
	</header>

	<h1>{{firstName}}</h1>
	<ul ng-repeat="n in names">
		<li ng-bind="n"></li>
	</ul>

	<section id="cd-timeline" class="cd-container">

		<div ng-repeat="date_id in timelineKeys">
			<div id="init-tl-block" class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="img/cd-icon-picture.svg" alt="Picture">
				</div> <!-- cd-timeline-img -->
				<div class="cd-timeline-content">
					<div ng-if="$index < 4" ng-repeat="img in timeline[date_id]">
						<div class="tl_responsive">
							<div class="tl_img">
								<a target="_blank" href="file:///{{img['id_path']}}" data-lightbox="{{date_id}}">
									<img ng-src="file:///{{img['id_path']}}" alt="{{img['name']}}" >
								</a>
								<!-- <div class="tl_desc"></div> -->
							</div>
						</div>
					</div>
					<div ng-if="$index >= 4" ng-repeat="img in timeline[date_id]">
						<div class="tl_responsive" style="display:None">
							<div class="tl_img">
								<a target="_blank" href="file:///{{img['id_path']}}" data-lightbox="{{date_id}}">
									<img src="" alt="{{img['name']}}" >
								</a>
								<!-- <div class="tl_desc"></div> -->
							</div>
						</div>
					</div>
					<h2></h2>
					<p></p>
					<a href="" class="cd-read-more">Read more</a>
					<span class="cd-date">{{date_id}}</span>
				</div> <!-- cd-timeline-content -->
			</div> <!-- cd-timeline-block -->
		</div>

		<!-- this node has to be present as insert referrence -->
		<div id="init-tl-block" class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<h2>Record your life</h2>
				<p>Timeline organizes your data, make your life colorful. You data can be more fun and valuable.</p>
				<a href="" class="cd-read-more">Read more</a>
				<span class="cd-date"></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->

	<template id='img-placeholder-template'>
		<div class="tl_responsive">
			<div class="tl_img">
				<a target="_blank" href="">
					<img src="" alt="" >
				</a>
				<!-- <div class="tl_desc"></div> -->
			</div>
		</div>
	</template>

	<template id='img-template'>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/cd-icon-picture.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->
			<div class="cd-timeline-content">
				<!-- images go here -->
				<h2></h2>
				<div class="tl_clearfix"></div>
				<p></p>
				<a href="" class="cd-read-more">Read more</a>
				<span class="cd-date"></span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</template>


<script src="uidelegate.js"></script>
<script src="main.js"></script>
<script src="lightbox/js/lightbox.min.js"></script>
</body>
</html>
